
@{
    ViewBag.Title = "AcercaDe";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<h2>AcercaDe</h2>

<div class="card mb-8">
    <div class="card-body">
        <h2 class="font-weight-light text-center section-headline">Acerca de</h2>
        <p class="text-center">
            <b>ayudar </b>es una organización sin fines de lucro que busca canalizar todos los impulsos solidarios en acciones concretas. A través de una página web, buscamos conectar personas que están dispuestas a ayudar con aquellos que realmente lo necesitan.</p>
        <img class="card-img-bottom" src="~/Content/img/solidaridad2.jpg" alt="Responsive image">   
    </div>
    
</div>