@{
    ViewBag.Title = "Gracias por donar";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

<br />
<br />
<br />
<br />

<center>
    <h1>Gracias por su donación monetaria</h1><br><br>

    @Html.ActionLink("Volver al Home", "Home", "Usuario", null, new { @class = "btn btn-primary" })
</center>