
@{
    ViewBag.Title = "Total de donación";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}
<br>
<br>
<br>
<br>
<center><h1><u>Total</u> <u>de</u> <u>donación</u></h1></center>
<br>
<br>
<div class="p-3 mb-2 bg-danger text-white">
    <center>
        <h2><i>Cantidad solicitada</i></h2>
        <h2>$ @ViewBag.CantidadSolicitada</h2>
    </center>

</div>
<br>
<br>

<div class="p-3 mb-2 bg-danger text-white">
    <center>
        <h2><i>Total recaudado</i></h2>
        <h2>$ @ViewBag.Sumatoria</h2>
    </center>
</div>
<br>
<br>

<div class="p-3 mb-2 bg-danger text-white">
    <center>
        <h2><i>Total restante</i></h2>
        <h2>$ @ViewBag.Restante</h2>
    </center>
</div>
<br>
<br>
<br>

<center>
    @Html.ActionLink("Realice una donación", "DonacionMonetaria", "DonacionMonetaria", null, new { @class = "btn btn-primary" })
</center>


