
@{
    ViewBag.Title = "NecesidadesDonacionesMonetarias";
    Layout = "~/Views/Shared/_NecesidadesLayout.cshtml";
}

    <div class="card" id="margin-top-header">
        <div class="card" id="card-circle">
            <div class="col-md-12">
                <div class="float-right">

                    <p class="card-text text-secondary mt-4"><b>Fecha de finalización:</b> <span class="fa fa-calendar"></span> 15/06/2020</p>
                </div>
                <div class="row">
                    <img class="rounded-circle float-left mt-2 ml-4 border border-white" id="image-perfil" src="~/Content/Img/negritten.jpg">
                    <div class="col-md-4">
                        <p class=" text-secondary mt-3"><b>Turco Mohamed</b></p>
                        <p><span class="fa fa-calendar"></span> 08/05/2020</p>

                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="col-md-5 mt-3 mb-3 float-left">
                        <img class="card-img-top" src="~/Content/Img/necesitanDinero.jpg" id="imagen-detalle" alt="Card image cap">
                        <div class="float-auto ml-4 mt-2">
                            <button type="button" class="btn btn-outline-info"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                            <label> <b class="text-primary">80%</b> de coincidencias </label>

                            <button type="button" class="btn btn-outline-danger ml-3"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                            <label> 6 votos</label>
                        </div>
                    </div>
                    <div class="col-md-7 float-right">
                        <div class="col-md-12">
                            <div class="card-body float-auto">
                                <h2 class="text-center">Necesitamos ayuda</h2>

                                <div class="col-md-8 text-center m-auto">
                                    <i>"Necesitamos que nos den una mano con los insumos solicitados para darle de comer a mis hijos."</i>
                                </div>
                                <div class="col-md-12 mb-3 mt-3 text-center">
                                    <h3><img src="~/Content/Img/dinero.png" id="icons" alt=""> Total solicitado: <b>$140.000</b></h3>
                                </div>
                                <div class="col-md-12 mb-3 mt-3 text-center">
                                    <h4><img src="~/Content/Img/bolsaDinero.png" id="icons" alt=""> Total recaudado: <b>$100.000</b></h4>
                                </div>
                            </div>
                            <div class="col-md-12 btn-group mt-4 ml-4 mb-3">
                                <button type="button" class="btn btn-danger ml-4">En otro momento</button>
                                <button type="button" class="btn btn-success ml-2">Donar Dinero</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>